<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
<div class="panel panel-primary ">
    <div class="panel-heading">
      <h3>Create Employee</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="fullName">Full name</label>
        <input type="text" id="fullName" class="form-control" name="fullName" [(ngModel)]="fullName">
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control"  name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
          <label for="PhoneNumber">Phone Number</label>
          <input type="tel" id="PhoneNumber" class="form-control"  name="PhoneNumber" [(ngModel)]="PhoneNumber">
      </div>

      <div class="form-group">
          <label>Contact Preference</label>
          <dir class="form-control">
              <label class="radio-inline">
                  <input type="radio" value="email" name="contactPreference" [(ngModel)]="contactPreference">
                  Email
              </label>
              <label class="radio-inline">
                  <input type="radio" value="phone" name="contactPreference" [(ngModel)]="contactPreference">                 
                  Phone
              </label>
          </dir>
      </div>

      <div class="form-group">
          <label>Gender</label>
          <dir class="form-control">
              <label class="radio-inline">
                  <input type="radio" value="male" name="gender" [(ngModel)]="gender">
                Male
              </label>
              <label class="radio-inline">
                  <input type="radio" value="female" name="gender" [(ngModel)]="gender">                 
                  Female
              </label>
          </dir>
      </div>
      <div class="form-group">
          <dir class="form-control">
              <label class="checkbox-inline">
                  <input type="checkbox" value="isactive" name="isactive" [(ngModel)]="isactive">
                Is Active
              </label>
          </dir>
      </div>

      <div class="form-group">
        <label for="department">Department</label>
        <select class="form-control" name="department" id="department" [(ngModel)]="department">
            <option [value]="dept.id" *ngFor = "let  dept of departments">
                {{dept.name}}
            </option>
        </select>
      </div>
      <div class="row">
        <div class="form-group col-md-5">
            <label for="dateOfBirth">Date of birth</label>
            <input type="text" bsDatepicker [bsConfig]='datePickerConfig' id="dateOfBirth" class="form-control"  name="dateOfBirth" 
                [(ngModel)]="dateOfBirth" placement="top">
        </div>
      </div>
      <div class="form-group">
        <label for="PhoneNumber">Photo path</label>
        <input type="text" id="photopath" class="form-control"  name="photopath" [(ngModel)]="photopath">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="togglePhotoPreview()">
            {{previewPhot? "Hide " : "Show "}} preview
        </button>
    </div>
    <div class="form-group" *ngIf="previewPhot">
        <img [src]="photopath" alt="" height="200" width="200">
    </div>
    
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
</div>
</form>

Angular generated form model : {{employeeForm.value | json}}